*{
    margin: 0;
    padding: 0;
}

body{
    background:rgb(187, 206, 243);
}

#All{
    width: 417.5px;
    margin: 2%;
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.img img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#text1{
    color: black;
    margin: 20px;
}
#text{
    color: gray;
    padding-inline: 50px;
}

.icon{
    margin: 20px;
    background: rgb(168, 215, 247);
    width: 80%;
    border-radius: 10px;
}
.icon img{
    width: 40px;
    margin-right: 255px;
    margin-top: 5px;
    border-radius: 30px;
}
.item-icon{
    margin-top: -64px;
    margin-left: -90px;
}
.change{
    margin-top: -27px;
    margin-left: 250px;
}
.but1{
    margin-top: 50px;
}
.but2{
    margin-top: 30px;
    padding-bottom: 30px;
}
.PtP{
    
    height: 50px;
    border-radius: 10px;
    background: #4ca2e4;
}
.Co{
    height: 50px;
    border-radius: 10px;
    background: #4ca2e4
}
.cl{
    color: white;
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
}
.cl0{
    color: white;
    font-size: 15px;
    margin-left: 123px;
    margin-right: 123px;
}